@import "bootstrap/scss/bootstrap";
@import '/resources/scss/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  
  .navbar-nav {
    gap: 15px;
  }

}