@import url('https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css');

article.estudos-content-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #c6c6c6;

  section {
    max-width: 1280px;
    padding: 0 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
  }

}