@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//..importa funções, variáveis e mixins do bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Variáveis
$primary: #cd853f;
$secondary: #612ED9;

$link-color: #45C4B0;
$link-hover-color: #fff;

//..atualiza a paleta de cores
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "link-color": $link-color,
  "link-hover-color": $link-hover-color,
);

//..importa o arquivo do Bootstrap
@import "bootstrap/scss/bootstrap";

.form-control:focus {
  border-color: $secondary;
  box-shadow: 0 0 0 0.25rem #{$secondary}20;
  outline: 0; 
}